

@model SystemLogSaveViewModel

@{
    ViewBag.Title = "SystemLog Save";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        SystemLog Save
        <small>
            <a href="@Url.Action("Index","SystemLog",new{area="Admin"})">
                <i class="glyphicon glyphicon-chevron-left"></i> Back to SystemLog List
            </a>
        </small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                @*<div class="box-header with-border">
                        <h3 class="box-title">Quick Example</h3>
                    </div>*@
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                     

                             
                                 @Html.HiddenFor(t=>t.SystemLog.LogId)
                                          

                     

                            
                                <div class="form-group">
                                    @Html.LabelFor(t => t.SystemLog.UserId, "UserId", new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                                                                @Html.EditorFor(t => t.SystemLog.UserId,"Number")
                                                                                @Html.ValidationMessageFor(t=>t.SystemLog.UserId)
                                    </div>
                                </div>
                                          

                     

                            
                                <div class="form-group">
                                    @Html.LabelFor(t => t.SystemLog.DateTime, "DateTime", new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                                                                @Html.EditorFor(t => t.SystemLog.DateTime,"DateTime")
                                                                                @Html.ValidationMessageFor(t=>t.SystemLog.DateTime)
                                    </div>
                                </div>
                                          

                     

                            
                                <div class="form-group">
                                    @Html.LabelFor(t => t.SystemLog.LogTypeId, "LogTypeId", new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                                                                @Html.EditorFor(t => t.SystemLog.LogTypeId,"Number")
                                                                                @Html.ValidationMessageFor(t=>t.SystemLog.LogTypeId)
                                    </div>
                                </div>
                                          

                     
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info btn-flat pull-right">Save</button>
                    </div>
                }
            </div>

        </div>
    </div>
</section>

