

@model RoleSaveViewModel

@{
    ViewBag.Title = "Role Save";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        Role Save
        <small>
            <a href="@Url.Action("Index","Role",new{area="Admin"})">
                <i class="glyphicon glyphicon-chevron-left"></i> Back to Role List
            </a>
        </small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                @*<div class="box-header with-border">
                        <h3 class="box-title">Quick Example</h3>
                    </div>*@
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                     

                             
                                 @Html.HiddenFor(t=>t.Role.RoleId)
                                          

                     

                            
                                <div class="form-group">
                                    @Html.LabelFor(t => t.Role.RoleName, "RoleName", new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                                                                @Html.TextBoxFor(t => t.Role.RoleName, new { @class = "form-control"})
                                                                                @Html.ValidationMessageFor(t=>t.Role.RoleName)
                                    </div>
                                </div>
                                          

                     
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info btn-flat pull-right">Save</button>
                    </div>
                }
            </div>

        </div>
    </div>
</section>

